/* Tablilla rol*/

.vk-rol {
  width: 540px; 
  box-sizing: border-box; 
  border: var(--border); 
  padding: 6px; 
  border-radius: 6px; 
  margin: 0px auto; 
  font-family: 'Poppins'; 
  display: flex; 
  flex-direction: column; row-gap: 3px; line-height: 0px;} .vk-rol-title {width: 100%; box-sizing: border-box; height: 120px; background: var(--background-3); border: var(--border); border-radius: 2px; display: flex; align-items: center; justify-content: center; overflow: hidden; position: relative;} .vk-rol-title i {color: var(--color-icon); font-size: 10em; transform: rotate(-10deg); position: absolute; opacity: 0.2;} .vk-rol-title span {z-index: 2; color: #fff; background: var(--accent); padding: 9px 18px; font-size: 1.2em; font-weight: 700; letter-spacing: 1px; text-align: center; border-radius: 3px; text-transform: uppercase; display: flex; align-items: center; line-height: 1.2em;} .vk-rol-content {width: 100%; box-sizing: border-box; background: var(--background-3); border: var(--border); border-radius: 2px; line-height: 130%; text-align: justify; hyphens: auto; word-break: break-word; font-size: 1.04em; padding: 36px;} .vk-rol-data {background: var(--background-2); padding: 12px; border-radius: 3px; font-size: 0.96em; margin-top: 18px; text-align: left;} .vk-rol-data u {color: var(--accent); vertical-align: 0px; text-decoration: none; margin-right: 6px;} .vk-rol-data i {color: var(--color-icon); font-size: 0.72em; vertical-align: 1px; margin: 0px 3px;} .vk-rol-content strong {color: var(--accent); font-size: 600;} .vk-rol-data b {font-size: 1.08em; font-weight: 500;}

/* Teléfono móvil */

.phone-vk {
  margin: 24px auto;
  width: calc(7.78px * 38);
  height: calc(16.09px * 38);
  background: #000;
  overflow: hidden;
  border: 6px solid var(--accent);
  border-radius: 48px;
  box-sizing: border-box;
  padding: 6px;
  font-family: 'Poppins';
}

.phone-vk .contenido {
  background: var(--color);
  width: 100%;
  height: 100%;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.phone-vk .header {
  color: var(--background-2);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px 0px 36px;
  font-size: 13px;
  line-height: 72%;
  text-align: center;
  position: absolute;
  background-image: linear-gradient(rgba(000,000,000,0.3), rgba(000,000,000,0) 80%);
}

.phone-vk .header hora {
  display: block;
  width: 100%;
  font-weight: 500;
}

.phone-vk .header div {
  display: block;
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  column-gap: 6px;
  align-items: center;
}

.phone-vk .header .fa-battery-three-quarters {font-size: 15px;}

.phone-vk .header isla {
  border-radius: 12px;
  background: #000;
  min-width: 84px;
  height: 24px;
  display: block;
  box-sizing: border-box;
  padding: 6px;
  display: flex;
  justify-content: flex-end;
}

.phone-vk .header cam {
  display: block;
  height: 12px;
  width: 12px;
  background: var(--cborder);
  border-radius: 100%;
  opacity: 0.12;
}

.phone-vk .contacto {
  width: 100%;
  height: 100%;
  background: var(--background-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.phone-vk .picture {
  width: 100%;
  min-height: 70%;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
}

.phone-vk .picture div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 12px;
  background-image: linear-gradient(rgba(000,000,000,0) 24%, rgba(000,000,000,0.4));
  height: 60%;
  row-gap: 12px;
}

.phone-vk .picture name {
  font-size: 21px;
  font-weight: 300;
  line-height: 100%;
}

.phone-vk .picture enlaces {
  display: flex;
  column-gap: 12px;
}

.phone-vk .picture enlaces a {
  background: rgba(102, 102, 102, 0.3);
  width: 100%;
  height: 36px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  backdrop-filter: blur(3px);
  font-size: 15px;
}

.phone-vk .datos {
  height: 100%;
  background: var(--background-3);
  width: 100%;
}

.phone-vk .datos div {
  display: flex;
  flex-direction: column;
  margin: 12px;
  background: var(--background-2);
  font-size: 12px;
  border-radius: 6px;
  padding: 12px;
  row-gap: 12px;
  color: var(--accent);
  font-weight: 400;
  height: auto;
}

.phone-vk .datos c {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--cborder);
}

.phone-vk .datos span {
  display: block;
  width: 100%;
  line-height: 100%;
}

.phone-vk .footer {
  min-height: 48px;
  padding: 0px 24px 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--border);
  font-size: 18px;
  position: relative;
}

.phone-vk .footer span {
  min-width: 48%;
  height: 4px;
  background: var(--color);
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: 6px;
  left: calc(52% / 2);
}

.phone-vk .footer i {
  color: var(--color-icon);
  opacity: 0.6;
}

.phone-vk .footer i#sel {
  color: var(--accent);
  opacity: 1;
}

/*mensajes móvil*/
.mssgs {
  margin: 0px auto;
  padding: 24px;
  background: var(--background-2);
  border: var(--border);
  width: 420px;
  border-radius: 6px;
  display: flex;
  row-gap: 12px;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Poppins';
  color: #fff;
  font-weight: 300;
  line-height: 0%;
}

.mssgs .left, .mssgs .right {
  width: 100%;
  display: flex;
  column-gap: 6px;
  row-gap: 12px;
  flex-wrap: wrap;
  align-items: flex-end;
  box-sizing: border-box;
}

.mssgs .right { justify-content: flex-end;}

.mssgs .left .bubbles { 
  order: 3;
  align-items: flex-start;
  border-radius: 6px 6px 6px 0px;
}

.mssgs .left .bubbles span {
  border-radius: 3px 6px 6px 0px;
}

.mssgs .right .bubbles { 
  order: 1;
  align-items: flex-end;
  border-radius: 6px 6px 0px 6px;
}

.mssgs .right .bubbles span {
  border-radius: 6px 3px 0px 6px;
  background: var(--color-icon);
}

.mssgs .right .pic {
  border-color: var(--color-icon);
} 

.mssgs .pic {
  height: 42px;
  width: 42px;
  border: 3px solid var(--accent);
  border-radius: 100%;
  box-sizing: border-box;
  background-size: cover;
  overflow: hidden;
  order: 2;
  background-size: cover;
  filter: grayscale(0);
}

.mssgs .bubbles {
  width: calc(100% - 42px * 2 - 6px * 2);
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  overflow: hidden;
  margin-bottom: 12px;
}

.mssgs .bubbles span {
  background: var(--accent);
  padding: 9px;
  line-height: 120%;
}
